<div class="main_header">
  <div class="main_header_overview">
    hogufuga
  </div>
  <div class = "main_header_exit" >
    <a class="main_header_exittext" href="#">チャットを終了する </a>
  </div>
</div>

<div class="main_center">
  <div class="center_messages">
    <div class="message">
      <div class="upper_message">
        <div class="message_user">Tom</div>
        <div class="message_date">2020/3/31(Wed) 12:43:30</div>
      </div>
      <div class="lower_message">
        <div class="message_content">
          なんかよう
        </div>
      </div>
    </div>
     <div class="message">
      <div class="upper_message">
        <div class="message_user">Jim</div>
        <div class="message_date">2020/3/31(Wed) 12:43:47</div>
      </div>
      <div class="lower_message">
        <div class="message_content">
          なんもない
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main_footer">
  <form class="form">
    <input class="form_message" type="text" placeholder="type a message">
    <label class="form_image">
      <span class="image_file">画像</span>
      <input type="file" class="hidden">
    </label>
    <input class="submit" type="submit" value="送信">
  </form>
</div>